.selectionBar{
  background: rgba(0,0,0,.6);
  color:#fff;
  line-height:50px;
  margin-top:-35px;
  margin-right:-20px;
  width:auto;
  float:right;
  padding-left:10px;
}

.leaflet-map {
  height: 500px;
  width: 100%;
}