<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Dashboard <small> - 37.159.254.1268 : 2502 - Epoch Zupa #1 Normal</small></h1>
    </div>
</div>
<div class="row">
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-green">
            <div class="stats-icon"><i class="fa fa-group"></i></div>
            <div class="stats-info">
                <h4>ONLINE PLAYERS</h4>
                <p>{{onlinePlayers}}</p>
            </div>
            <div class="stats-link">
                <a ng-click="changeLoc('/map')">Map View <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-blue">
            <div class="stats-icon"><i class="fa fa-car"></i></div>
            <div class="stats-info">
                <h4>CURRENT VEHICLES</h4>
                <p>{{vehicles}}</p>
            </div>
            <div class="stats-link">
                <a ng-click="changeLoc('/vehicles')">Vehicle View <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-purple">
            <div class="stats-icon"><i class="fa fa-building-o"></i></div>
            <div class="stats-info">
                <h4>CURRENT BUILDINGS</h4>
                <p>{{buildings}}</p>
            </div>
            <div class="stats-link">
                <a ng-click="changeLoc('/buildings')">Buildings View <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-red">
            <div class="stats-icon"><i class="fa fa-child"></i></div>
            <div class="stats-info">
                <h4>UNIQUE PLAYERS</h4>
                <p>{{players}}</p>
            </div>
            <div class="stats-link">
                <a ng-click="changeLoc('/players')">Players View <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
</div>

<div class="row">
    <!-- begin col-3
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-green">
            <div class="stats-icon"><i class="fa fa-bank"></i></div>
            <div class="stats-info">
                <h4>BANK CRYPTO</h4>
                <p>1,578,236</p>
            </div>
            <div class="stats-link">
                <a href="javascript:;">Bank View <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-blue">
            <div class="stats-icon"><i class="fa fa-gift"></i></div>
            <div class="stats-info">
                <h4>TRADERS</h4>
                <p>{{traders}}</p>
            </div>
            <div class="stats-link">
                <a ng-click="changeLoc('/traders')">Trader View <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-purple">
            <div class="stats-icon"><i class="fa fa-map-marker"></i></div>
            <div class="stats-info">
                <h4>MAP</h4>
                <p>1</p>
            </div>
            <div class="stats-link">
                <a ng-click="changeLoc('/map')">Map View <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-red">
            <div class="stats-icon"><i class="fa fa-thumbs-down "></i></div>
            <div class="stats-info">
                <h4>DEATHS</h4>
                <p>1,352</p>
            </div>
            <div class="stats-link">
                <a href="javascript:;">Deaths View <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
</div>

       <!-- END TOP SIDE -->

<div class="row">
    <div class="col-md-12">
        <div class="widget-chart with-sidebar bg-black">
            <div class="widget-chart-content">
                <h4 class="chart-title">
                    Important Information
                    <small>You have read the following lines.</small>
                </h4>


                    <div class="note note-danger" style="margin-top:20px;">
                        <h4><span class="fa fa-info-circle margin-right-10" > Rules & Info!</h4>
                        <ul>
                            <li> This WebApp is in full development.</li>
                            <li> Use this webapp at your own risk.</li>
                            <li> I can not held responisble to anything this webapp does to your redis db.</lo>
                            <li> Report bugs in the epochmod topic.</li>
                            <li> Report feedback in the epochmod topic.</li>
                            <li> Using this software means you agree the terms.</li>
                            <li>This info is neccesairy but I won't damage your DB on purpose, which should not even happens anyways.</li>
                        </ul>
                    </div>




            </div>
            <div class="widget-chart-sidebar bg-black-darker">
                <div class="chart-number">
                    Zupa
                    <small>Rules & Info</small>
                </div>
                <div id="visitors-donut-chart" style="height: 160px"></div>
            </div>
        </div>
    </div>

</div>
<!-- end row -->

